* {
  box-sizing: border-box;
  Font-Family: 'Quattrocento', Serif;
}

body {
  background: #393D40;
  font-size: 1rem;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

ul {
  padding-left: 0;
}
li {
  list-style: none;
}

nav,
footer {
  padding: 1% 0;
  background-color: #393D40;
}

nav {
  font: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}
.menu-button {
  background-color: #393D40;
  border: none;
  color: #8C6E3F;
}
#nav-pic {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  border: 2px solid black;
}
#nav-links {
  text-align: center;
  font-size: 1.1rem;
  color: #8C6E3F;
}
.nav-list {
  margin-right: 5px;
}
.nav-list > a {
  text-decoration: none;
  color: inherit;
}
h1 {
  Font-Family: 'Oswald', Sans-Serif;
  font-size: 2rem;
  align-self: center;
}
h2 {
  font-size: 1rem;
  Font-Family: 'Oswald', Sans-Serif;
}
header {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url(./img/steel.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color: #B6C2CC;
  text-shadow: 1px 1px 0 #000,
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
  font-weight: bolder;
  border: 2px solid #393D40;
}
.section-header {
  border-radius: 25px;
  margin: 5%;
  margin-bottom: 0;
}
.section-content {
  border-radius: 25px;
  margin: 5%;
  font-size: .8rem;
  padding: 5%;
  line-height: 1.3;
  background-color: #B6C2CC;
  color: #32050e;
  font-weight: bold;
}
.about-me-content {
  text-align: left;
}
#about-me {
  width: 50%;
}
.hidden {
  display: none;
}
#project-header{
  width: 50%;
  float: right;
  margin-bottom: 5%;
}
.project-button {
  text-align: left;
  width: 100%;
  height: 30px;
  border: #393D40 solid 2px;
  margin-top: 3%;
  margin-bottom: 3%;
  font-weight: bold;
}
.project-img {
  max-width: 100%;
  max-height: 100%;
}
.project-desc{
  text-align: left;
}
#contact-me {
  width: 50%;
  text-align: left;
}
#contact-me-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-content: space-around; */
}
.contact-li > a {
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
  color: #8C6E3F;
}
.contact-li > a:visited {
  color: #32050e;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  .project-img {
    width: 100%;
    height: 100%;
    padding: 10%;
  }
  .section-header {
    font-size: 2rem;
  }
  .section-content {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1000px) {
  #nav-button {
    display: none;
  }
  nav > .hidden {
    display: initial;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  #nav-links > li {
    font-size: 1.2rem;
  }
  .section-header {
    display: inline;
    text-align: center;
  }
  .section-content {
    margin-left: 20%;
    margin-right: 20%;
    line-height: 1.5;
  }
  #project-header {
    float: none;
  }
  
}