* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  
}
#nav-pic {
  max-width: 10%;
  max-height: 10%;
  border-radius: 50px;
  display: flex;
  align-content: center;
  justify-content: flex-start;
}
#nav-links {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: flex-end;
  font-size: .8rem;
}

header {
  padding: 12% 0;
}

h1 {
  font-size: 1rem;
  align-self: center;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

.section-header {
  border: 2px solid black;
  border-radius: 25px;
  margin: 5%;
}

.section-content {
  border: 2px solid black;
  border-radius: 25px;
  margin: 5%;
  font-size: .8rem;
}

#about-me-content {
  
}

.project-button {
  max-width: 25%;
  max-height: 25%;
}

.project-img {
  max-width: 100%;
  max-height: 100%;
}